#page-content div{
	display: inline-block;
	vertical-align: text-top;
}
#menu{
	position: relative;
	background-color: #BF4730;
	padding-bottom: 150px;
	border-bottom: 15px double #233148;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-bottom-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
#menu ul{
	list-style-type: none;
	font-family: Lato;
	font-weight: bold;
	color: #FFF;
}
#menu li{
	display: block;
	min-width: 93px;
	padding: 15px;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s ease;
}
#menu li:hover{
	background-color: #FE5F3F;
}
#body{
	min-width: calc(100% - 183px);
	width: auto;
	padding: 20px;
	text-align: center;
	overflow: auto;
	height: 100%;
}
#body table{
	margin: 0 auto;
	border-collapse: collapse;
}
p{
	padding: 5px;
}
.input{
	min-width: 200px;
	border: 1px solid #AAA;
	outline: none;
	border-radius: 5px;
	padding: 10px;
	text-overflow: ellipsis;
	transition: all 0.5s ease;
	vertical-align: middle;
}
.input:hover{
	background-color: rgba(0, 0, 0, 0.08);
}
.input:focus{
	background-color: rgba(0, 0, 0, 0.08);
}
.pedidos_pedido{
	cursor: pointer;
}
.pedido_detalle{
	background-color: #ddd4be;
}
@media screen and (max-width: 1000px){
	#page-content div{
		display: block;
	}
	#menu{
		height: auto;
		padding-bottom: 0;
		border-bottom: 15px double #233148;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#menu ul{
		margin:0;
		text-align: center;
	}
	#menu li{
		display: inline-block;
	}
	#wrap{
		height: auto;
	}
}